body{
    margin: 0;
    padding:0;
}
.heading{
    text-align: center;
    color: maroon;
    margin-top: 40px;
}
.row{
    margin-bottom: 15px;
    padding:5px;
}
*{
    box-sizing: border-box;
}
.column-design{
    background: rgb(158, 155, 155);
    border:2px solid  black; 
    margin-bottom: 15px;
    font-size: 15px;
    width:75%;
}
.sect{
    position: relative;
    left: 339px;
    color: blanchedalmond;
    background: blue;
    width: 88px;
    height: 29px;
    padding-left: 10px;
}